* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.headersec {
  position: sticky;
  top: 0px;
  margin: 0 auto;
  z-index: 10;
}

.navbar {
  width: 80vw;
  height: 70px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: hsla(60deg, 5%, 8%, 0.9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.navbar__menu {
  width: fit-content;
  height: 4em;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.navbar__li {
  padding: 1em;
  width: 130px;
  border-radius: 1em;
  list-style-type: none;
  background: none;
  text-align: center;
  font-size: 1em;
  color: white;
  transition: all 0.1s;
}

.navbar__li:hover {
  background-color: hsla(29deg, 100%, 50%, 0.8);
  transition: all 0.6s;
}

.navbar__item-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar__item-link:hover {
  text-decoration: none;
  color: hsl(60deg, 5%, 8%);
  transition: color 0.6s;
}

.logo {
  margin-left: 3em;
  padding-top: 7px;
  width: 200px;
  transition: transform 1s;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.cart-number {
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  color: hsl(283deg, 100%, 60%);
}

.bars__menu {
  display: none;
  position: relative;
  margin-right: 3em;
  width: 300px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.bars__menu span {
  display: block;
  margin-top: 6px;
  width: 30px;
  height: 3px;
  border-radius: 2px;
  background-color: hsla(29deg, 100%, 50%, 0.8);
  transform-origin: 0px 100%;
  transition: all 300ms;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-1.5px, 1px);
}

.activeline2__bars-menu {
  margin-right: 40px;
  opacity: 0;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-1.5px, 2px);
}

.alert-circle {
  position: absolute;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(283deg, 100%, 60%);
  transition: all 0.3s;
}

.alert-circle.disabled {
  transform: scale(0.3);
  opacity: 0;
}

.navbar__menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

.submenu-father {
  position: relative;
}

.submenu-father:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sub-menu {
  position: absolute;
  padding: 9px;
  top: 3.5em;
  right: 0;
  left: 0px;
  background-color: hsl(60deg, 5%, 8%);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: opacity 1s;
}

.submenu__li {
  padding: 0.5em 0;
  width: fit-content;
  border-radius: 1em;
  list-style: none;
}

.submenu__link {
  text-decoration: none;
  color: #fff;
}

.submenu__li:hover {
  width: 100%;
  background-color: hsla(271deg, 66%, 39%, 0.9);
  transition: all 0.5s;
}

.submenu__li:nth-child(6):hover {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

@media screen and (max-width: 1280px) {
  .headersec {
    width: 100%;
  }
  .navbar {
    width: 100%;
    justify-content: space-evenly;
    gap: 50px;
    transition: 0.3s;
  }
  .navbar__menu {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: hsla(60deg, 5%, 8%, 0.9);
    flex-direction: column;
    gap: 0px;
    transition: 0.2s all;
  }
  .navbar.active {
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .navbar__li {
    margin: 1em 0;
  }
  .navbar__li:hover {
    width: 100%;
    transition: all 1s;
  }
  .navbar__li:nth-child(1):hover {
    width: 50%;
  }
  .navbar__menu.active {
    left: 0;
  }
  .bars__menu {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .sub-menu {
    left: 0;
    right: 0;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
  }
  .submenu__li {
    border-radius: 1em;
  }
  .submenu__li:nth-child(6):hover {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}
@media screen and (max-width: 640px) {
  .navbar {
    gap: 30px;
  }
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #e2ebf0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-title {
  margin: 0 auto;
  padding: 1em 0em;
  width: fit-content;
  color: hsla(60deg, 5%, 8%, 0.9);
}

.main-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.travel-container {
  margin: 2em auto 6em;
  width: 65vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.travel-img {
  margin-top: 5px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.img-container {
  position: relative;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  border-style: none;
  background-image: linear-gradient(120deg, #f6d365 15%, #fda085 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.img-container:hover {
  transform: scale(0.9);
  transition: transform 0.5s;
}

.travel-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-shadow: 0px 1px 2px black;
  color: rgb(255, 255, 255);
}

.travel-link:hover {
  color: hsl(29deg, 100%, 50%);
}

::-webkit-scrollbar {
  padding: 0.3em;
  width: 13px;
  border-radius: 2em;
  background: #090909;
}

::-webkit-scrollbar-thumb {
  width: 15px;
  border-radius: 2em;
  background: #535353;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

::-webkit-scrollbar-thumb:active {
  background-color: #555;
}

.sbt-button {
  margin: 0 auto;
  padding: 1em;
  width: 150px;
  border-radius: 1em;
  border-style: none;
  background-color: hsla(60deg, 5%, 8%, 0.9);
  display: inline-block;
  cursor: pointer;
  color: white;
}

.sbt-button:active {
  background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 1.5em;
  }
}
.footersec {
  margin: 0 auto;
  padding: 0.1em 0 0.7em;
  width: 80vw;
  background-color: hsla(60deg, 5%, 8%, 0.9);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  color: hsla(29deg, 100%, 50%, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.footer__links {
  display: flex;
  gap: 1em;
}

.input-center {
  display: inline-block;
  align-self: center;
}

.social-title {
  font-size: 2em;
  font-weight: 500;
}

.social-li {
  list-style-type: none;
}

.social-link {
  text-decoration: none;
  color: #fff;
}

.fa-brands {
  font-size: 2em;
}

.copyrights {
  margin-top: 1em;
  font-size: 0.9em;
  font-weight: 200;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .footersec {
    width: 100%;
  }
}
.main-container {
  margin: 0 auto;
  width: 80vw;
}

.main-region-container {
  margin-bottom: 14em;
}

.des-items-container {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 300px;
  height: 370px;
  background-color: hsla(0deg, 0%, 100%, 0.25);
  border-radius: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.card__img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.btn {
  margin: 0.5em 0em;
  padding: 0.5em;
  width: fit-content;
  border-radius: 3px;
  border-style: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  color: hsl(0deg, 0%, 96%);
}

.buy-btn {
  background-color: hsla(120deg, 100%, 25%, 0.692);
}

.cta {
  background-color: hsl(29deg, 100%, 50%);
}

.card__title {
  margin: 0.5em 0em;
  color: hsl(29deg, 100%, 50%);
}

.card__title {
  padding: 0.5em 0em;
}

.card__price {
  margin: 0.5em 0em;
  color: hsl(29deg, 100%, 50%);
}

span {
  color: hsla(120deg, 100%, 25%, 0.692);
}

.card__check {
  display: none;
}

@media screen and (max-width: 1280px) {
  .card-container {
    margin: 1em;
    width: 250px;
    height: 320px;
    border-radius: 2em;
    background-color: hsla(0deg, 0%, 100%, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
  .card__img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 576px) {
  .body-title {
    font-size: 5vw;
  }
}
.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: hsla(0deg, 0%, 0%, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 50%;
  min-height: 400px;
  height: fit-content;
  border-radius: 2em;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  opacity: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  transform: translateY(0%);
}

.modal-close {
  transform: translateY(-200%);
}

.close {
  position: absolute;
  width: 25px;
  top: 12px;
  right: 12px;
  height: 25px;
  border-radius: 13px;
  background-color: #c5c0b7;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
}

.detail__img-container {
  margin-bottom: 1em;
  width: 300px;
  height: 300px;
  border-radius: 1em;
}

.detail-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.left-center {
  display: flex;
  align-items: center;
}

.right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.detail-text {
  color: hsl(0deg, 0%, 14%);
}

.detail__title {
  margin: 0;
}

.detail__description {
  margin-bottom: 1em;
}

.detail__check {
  margin: -5px 0px;
}

.detail__price {
  margin: 2em 0em;
}

@media screen and (max-width: 1280px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
  }
  .detail__img-container {
    height: 60%;
    width: 60%;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 2em;
  }
  .detail-text {
    text-align: center;
  }
  .detail-title {
    margin-top: 0;
  }
  .detail__description {
    margin: 0.8em 2em;
  }
}
@media screen and (max-width: 640px) {
  .modal {
    width: 95%;
  }
}
.cart-main-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-main-container {
  justify-content: start;
}

.cart-items-container {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-item-container {
  position: relative;
  width: 250px;
  height: 320px;
  background-color: hsla(0deg, 0%, 100%, 0.25);
  border-radius: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.remove-button {
  position: absolute;
  width: 2em;
  height: 2em;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
  color: hsla(0deg, 0%, 58%, 0.85);
}

.cart-item__title {
  margin: 0.5em 0em;
  font-size: 1em;
  color: hsl(29deg, 100%, 50%);
}

.cart-item__img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.cart-item__price {
  margin: 0.7em 0em 0.2em;
  font-weight: 600;
  color: hsl(0deg, 0%, 13%);
}

.counter-container {
  margin: 0.2em 0em;
  padding: 0em 0.5em;
  border-radius: 2em;
  background-color: hsla(29deg, 100%, 50%, 0.8);
  display: flex;
  align-items: center;
}

.qbtn {
  margin: 1em 0.5em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  border-color: hsla(29deg, 100%, 50%, 0.8);
}

.subtotal {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  color: hsl(0deg, 0%, 13%);
}

.total-div {
  margin: 2em 0;
  border-radius: 2em;
  padding: 1.5em;
  background-color: hsla(60deg, 5%, 8%, 0.9);
  color: white;
  text-align: center;
}

.empty-cart-container {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.empty-cart-container.active {
  display: flex;
}

.empty-cart-illustration {
  margin: 2em 0;
  width: 500px;
}

.empty-cart-text {
  margin: 0 3em;
  text-align: center;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .empty-cart-illustration {
    width: 300px;
  }
}
.form-container {
  margin: 2em auto;
  padding: 1em 0em;
  width: 80vw;
  border-radius: 2em;
  background-color: hsl(29deg, 100%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
}

.form__contact-title {
  font-size: 1.6em;
  font-weight: 500;
}

.flex-form {
  display: flex;
  flex-direction: column;
}

.input-placeholder {
  margin: 0.3em 0;
  padding: 0.5em;
  border-radius: 1em;
  border-style: solid;
  font-weight: 600;
}

.input-placeholder:focus {
  color: hsl(60deg, 5%, 15%);
  outline-color: hsla(60deg, 5%, 8%, 0.9);
}

.menssage-title {
  margin: 0 auto 1em;
  font-size: 1em;
  font-weight: 600;
}

.text-area {
  margin: 0.5em auto;
  padding: 1em;
  width: 300px;
  height: 150px;
  resize: none;
  border-radius: 1em;
}

@media screen and (max-width: 640px) {
  .text-area {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
