html{
    height: 100%;
}

body{
    background-color: #e2ebf0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.body-title{
    width:fit-content;
    margin: 0 auto;

    color: hsla(60, 5%, 8%, .9);
    padding: 1em 0em;
}

.main-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.travel-container{
    margin: 2em auto 6em;
    width: 65vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.travel-img{
        margin-top: 5px;
        width: 300px;
        height: 300px;
        border-radius: 50%;

        object-fit: cover;

}


.img-container{
    border-style: none;
    background-image: linear-gradient(120deg, #f6d365 15%, #fda085 85%);
    position:relative;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s
}

.img-container:hover{
    transform: scale(.9);
    transition: transform .5s;
}

.travel-link{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: rgba(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-shadow: 0px 1px 2px black;
}

.travel-link:hover{
    color: hsla(29, 100%, 50%);
}

.form-container{
    width: 80vw;
    margin: 2em auto;
    padding: 1em 0em;
    border-radius: 2em;
    background-color: hsl(29, 100%, 50%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    color: white;
}

.form__contact-title{
    font-size: 1.6em;
    font-weight: 500;
}


.flex-form{
    display:flex;
    flex-direction: column;
}

.input-placeholder{
    margin: .3em 0;
    padding: .5em;
    border-radius: 1em;
    border-style: solid;

    font-weight: 600;
}

.input-placeholder:focus{
   color: hsl(60, 5%, 15%);
   outline-color: hsla(60, 5%, 8%, .9);
}


.menssage-title{
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
}

.text-area{
    margin: .5em auto;
    resize:none;
    width: 300px; height: 150px;
    border-radius: 1em;
    padding: 1em;
    
}

::-webkit-scrollbar{
    padding: .3em;
    border-radius: 2em;
    background: #090909;
    width: 13px;
 }
 ::-webkit-scrollbar-thumb{
    border-radius: 2em;
     background: #535353;
     width: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
     background-color: #333;
 }
 
 ::-webkit-scrollbar-thumb:active{
     background-color: #555;
 }


.sbt-button{
    width: 150px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    border-style: none;
    background-color:  hsla(60, 5%, 8%, .9);

    display: inline-block;
    cursor: pointer;

    color: white;
}

.sbt-button:active{
    background-color:  rgba(0, 0, 0, 0.9);
}



@media screen and (max-width: 640px){
    
    .title{
        font-size: 1.5em;
    }

    .text-area{
        margin: .5em auto;
        resize:none;
        width: 80%;
        border-radius: 1em;
        padding: 1em;
        
    }

}