
.cart-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.empty-cart-main-container{
    justify-content: start;
}

.cart-items-container{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item-container{
    position: relative;
    width: 250px;
    height: 320px;
    background-color: hsla(0, 0%, 100%, 0.25);
    border-radius: 2em;
    margin: 1em;

    display: flex;
    flex-direction: column;
    gap: 1px;
    
    align-items: center;
}

.remove-button{
    height: 2em;
    width: 2em;
    position:absolute;
    right: 15px;
    top: 15px;

    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    color:hsla(0, 0%, 58%, 0.85)
}

.cart-item__title{
    margin: .5em 0em;
    font-size: 1em;
    color: hsl(29, 100%, 50%);
}

.cart-item__img-container{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.cart-item__price{
    font-weight: 600;
    margin: .7em 0em .2em;
    color: hsl(0, 0%, 13%);
}

.counter-container{
    margin: .2em 0em;
    padding: 0em .5em;
    border-radius: 2em;
    background-color: hsl(29, 100%, 50%, .8);


    display: flex;
    align-items: center;
}

.qbtn{
    margin: 1em .5em;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    border-color: hsl(29, 100%, 50%, .8);
}

.subtotal{
    margin-top: .5em;
    font-size: .8em;
    font-weight: 600;
    color: hsl(0, 0%, 13%);
}

.total-div{
    margin: 2em 0;
    border-radius: 2em;
    padding: 1.5em;
    background-color: hsla(60, 5%, 8%, .9);
    color: white;
    text-align: center;
}

.empty-cart-container{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.empty-cart-container.active{
    display:flex;
}

.empty-cart-illustration{

    margin: 2em 0;
    width: 500px;
}

.empty-cart-text{
    margin: 0 3em;
    text-align:center;
    font-weight: 300;
}

@media screen and (max-width: 640px) {

    .empty-cart-illustration{
        width: 300px;
    }
 
}