.footersec{
    width: 80vw;
    margin: 0 auto;
    margin-top: 4em;
    background-color: hsla(246, 100%, 50%, 0.34);

    border-top-left-radius: 2em;
    border-top-right-radius: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.input-center{
    display: inline-block;
    align-self: center;

}