html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: #e2ebf0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-title{
    margin: 0 auto;
    padding: 1em 0em;
    width:fit-content;

    color: hsla(60, 5%, 8%, .9);
}

.main-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travel-container{
    margin: 2em auto 6em;
    width: 65vw;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.travel-img{
        margin-top: 5px;
        width: 300px;
        height: 300px;
        border-radius: 50%;

        object-fit: cover;
}

.img-container{
    position:relative;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border-style: none;
    background-image: linear-gradient(120deg, #f6d365 15%, #fda085 85%);

    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .5s
}

.img-container:hover{
    transform: scale(.9);
    transition: transform .5s;
}

.travel-link{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 1px 2px black;
    color: rgba(255, 255, 255);
}

.travel-link:hover{
    color: hsla(29, 100%, 50%);
}

::-webkit-scrollbar{
    padding: .3em;
    width: 13px;
    border-radius: 2em;
    background: #090909;
 }

 ::-webkit-scrollbar-thumb{
    width: 15px;
    border-radius: 2em;
    background: #535353;
 }

 ::-webkit-scrollbar-thumb:hover{
    background-color: #333;
 }
 
 ::-webkit-scrollbar-thumb:active{
    background-color: #555;
 }

.sbt-button{
    margin: 0 auto;
    padding: 1em;
    width: 150px;
    border-radius: 1em;
    border-style: none;
    background-color:  hsla(60, 5%, 8%, .9);

    display: inline-block;
    cursor: pointer;

    color: white;
}

.sbt-button:active{
    background-color:  rgba(0, 0, 0, 0.9);
}


@media screen and (max-width: 640px){
    
    .title{
        font-size: 1.5em;
    }

}