*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.headersec{
    position: sticky;
    top: 0px;
    margin: 0 auto;
    z-index: 10;
}

.navbar{
    width: 80vw;
    height: 70px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: hsla(60, 5%, 8%, .9);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}



.navbar__menu{
    width: fit-content;
    height: 4em;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}


.navbar__li{
    padding: 1em;
    width: 130px;
    text-align: center;
    border-radius: 1em;
    background: none;
    list-style-type: none;
    
    font-size: 1em;
    color: white;
    transition: all .1s;
}

.navbar__li:hover{
    background-color: hsla(29, 100%, 50%, .8);
    transition: all .6s;
}

.navbar__item-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar__item-link:hover{
    text-decoration: none;
    color:  hsl(60, 5%, 8%);
    transition: color .6s;
}

.logo{
    padding-top: 7px;
    margin-left: 3em;
    width: 200px;
    transition: transform 1s;
}

.logo:hover{
    transform: scale(1.1);
    transition: transform 1s;
}


.cart-number{
    position: absolute;
    font-size: .8em;
    font-weight: 600;
    color: hsl(283, 100%, 60%);
}


// MENU HAMBURGUESA

.bars__menu{
    position: relative;
    display: none;
    text-align: center;
    width: 300px;
    height: 30px;
    cursor: pointer;
    margin-right: 3em;
}

.bars__menu span{
    display: block;
    width: 30px;
    background-color: hsla(29, 100%, 50%, .8);
    height: 3px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
    border-radius: 2px;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-1.5px, 1px);
}
.activeline2__bars-menu{
    margin-right: 40px;
    opacity: 0;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-1.5px, 2px);
    
}

.alert-circle{
    position: absolute;
    right: -2px;
    width: 10px;
    height: 10px;
    background-color: hsl(283, 100%, 60%);
    border-radius: 50%;
    transition: all .3s;
}

.alert-circle.disabled{
    transform:scale(.3);
    opacity: 0;
}

.navbar__menu li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}

// SUBMENU DESTINOS

.submenu-father{
    position: relative;
}

.submenu-father:hover{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sub-menu{
    position:absolute;
    top: 3.5em;
    left: 0px;
    right: 0;
    padding: 9px;
    background-color: hsla(60, 5%, 8%);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
}


.submenu__li{
    list-style: none;
    padding: .5em 0;
    width: fit-content;
    border-radius: 1em;
}

.submenu__link{
    text-decoration: none;
    color: #fff;
}

.submenu__li:hover{
    width: 100%;
    background-color: hsl(271, 66%, 39%, .9);
    transition: all .5s;
}
.submenu__li:nth-child(6):hover{
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

@media screen and (max-width: 1280px) {
    .headersec{
        width: 100%;
    }

    .navbar{
        width: 100%;
        gap: 50px;
        justify-content: space-evenly;
        transition: .3s;
    }

    .navbar__menu{
        position: fixed;
        height: fit-content;
        left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background-color: hsla(60, 5%, 8%, .9);
        width: 100%;
        text-align: center;
        transition: .2s all;

    }

    .navbar.active{
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
    }

    .navbar__li{
        margin: 1em 0;

    }

    .navbar__li:hover{
        width: 100%;
        transition: all 1s;
    }
    .navbar__li:nth-child(1):hover{
        width: 50%;
    }

    .navbar__menu.active{
        left: 0;
    }

    .bars__menu{
        display: flex;
        flex-direction:column;
        align-items: end;
    }

    .sub-menu{
        left: 0;
        right: 0;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }


    .submenu__li{
        border-radius: 1em;
    }
    
    .submenu__li:nth-child(6):hover{
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    
}

@media screen and (max-width: 640px) {
    .navbar{

        gap: 30px;
    }
}