*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.navbar{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: hsla(60, 5%, 8%, .9);
}

.navbar-container{
    width: 80vw;
    height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}


.navbar__li{
    list-style-type: none;
    font-size: 1em;
}

.navbar__item-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar__item-link:hover{
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.logo{
    width: 200px;
}

.number-align{
    position:relative;
}

.cart-number{
    position: absolute;
    margin-left: 2px;
    font-size: .8em;
    color: hsl(29, 100%, 50%);
}

